<div class="article-license">
  <div class="centered">
    <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /> 
    <p>
    This post by <a href="http://freetymekiyan.github.io/">Yang Liu</a> is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International</a>.<br> Please NOTE THE ORIGIN for Reproduction, Copying or other usages.
    </p>
  </div>
</div>
