<div class="adlist">
  <p class="asidetitle"><%= __('ad') %></p>
  <div class="ad">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Hexo blog widget -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3830008196770332"
         data-ad-slot="2210281201"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
